<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css"
    />
    <title>Personal Page</title>
    <script>
      setTimeout(function() {
        var element = document.getElementById('message');
        if (element) {
          element.style.display = 'none';
        }
      }, 1500);
    </script>
  </head>
  <body>
    <%- include('./navbar.ejs'); %>
    <section class="section">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-half">
            <div class="box">
              <h1 class="title has-text-centered">Personal Information</h1>
              <% if(member) { %>
              <div class="content">
                <div class="field">
                  <% if (message && message != '') { %>
                    <article class="message is-warning" id="message">
                      <div  class="message-body">
                        <%= message %>
                      </div>
                    </article>
                  <% } %>
                  <label class="label">Member Name</label>
                  <form action='/users/updateMemberName' method="post">  
                    <div class="grid">
                    <div class="cell is-col-span-3 control">
                      <input class="input" type="text" value="<%= member.membername %>" name="membername">
                    </div>
                    <div class="cell control">
                      <button class="button is-primary" type="submit">Update</button>
                    </div>
                  </div>
                  </form>
                </div>
                <p>Change Password</p>
               
                <form action="/auth/personal/changePassword" method="post">
                  <div class="field">
                    <label class="label" for="password">Old Password:</label>
                    <div class="control">
                      <input
                        class="input"
                        type="password"
                        id="password"
                        name="oldPassword"
                        required
                        placeholder="Enter your old password"
                      />
                    </div>
                  </div>
                  <div class="field">
              
                    <label class="label" for="password">New Password:</label>
                    <div class="control">
                      <input
                        class="input"
                        type="password"
                        id="password"
                        name="newPassword"
                        required
                        placeholder="Enter your new password"
                      />
                    </div>
                  </div>
                  <div class="field">
                    <div class="control">
                      <button type="submit" class="button is-primary">
                        Change Password
                      </button>
                    </div>
                </form>
              </div>
              <% } else { %>
              <p class="has-text-centered">No member information found.</p>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
